:root {
    --basic-white: #FFFFFF;
    --basic-black: #000000;
    --basic-blue-dark: #293449;
    --basic-blue-light: #3BBCE3;
    --basic-blue: #32425C;
    --basic-red: #EE3643;
    --basic-green: #63A63E;
    --basic-light-green: #5FBB2D;
    --basic-gray: #F3F7F9;
    --basic-light-grey: #F1F5F7;
    --basic-orange: #FFBF47;
    --basic-greylight: #C5C5C5;
    --basic-beige: #F7F3EC;
    --basic-beige-light: #F9F5F0;
    --basic-dark-grey: #A9A9A9;
    --basic-burgundy: #BA2732;

    --special-orangeyellow: #FFD180;
    --special-grey: #F3F7F9;
    --special-light-blue: #F2F6F8;
    --special-button-border: #E5E5E5;
    --special-dark-green-border: #367315;
    --special-box-shadow: rgba(0, 0, 0, 0.15);

    --logo-shadow: rgba(0, 0, 0, 0.24);
    --navigation-active-bgr: #161D29;
    --navigation-active-color: rgba(255, 255, 255, 0.5);
    --buy-btn-hover: #5FBB2D;
    --buy-btn-active: #518534;
    --logo-active: #BA2732;
    --sales-bgr: #8ED78F;
    --equipment-bgr: #DC91D8;
    --main-bgr: #888888;
    --grey-border: #EAEAEA;
    --desaturated-blue: #405069;
    --features-bgr: rgba(0, 0, 0, 0.0001);
    --banner-bgr: rgba(255, 255, 255, 0.3);
    --banner-hover-bgr: rgba(197, 197, 197, 0.3);
    --banner-active-bgr: rgba(169, 169, 169, 0.3);
}

.visually-hidden {
    position: absolute;
    height: 1px;
    width: 1px;
    overflow: hidden;
    clip: rect(1px 1px 1px 1px);
    /* IE6, IE7 */
    clip: rect(1px, 1px, 1px, 1px);
    clip-path: polygon(0px 0px, 0px 0px, 0px 0px, 0px 0px);
}

body {
    min-width: 960px;
    margin: 0;
    padding: 0;
    font-family: "PT Sans", Arial, sans-serif;
    background-color: var(--basic-white);
    line-height: 24px;
    font-size: 18px;
    color: var(--basic-black);
}

a {
    text-decoration: none;
}

.modal {
    display: none;
}

.title {
    color: var(--basic-red);
    font-style: italic;
    font-size: 16px;
}

.subtitle {
    font-family: "Cuprum", Arial, sans-serif;
    font-size: 30px;
    line-height: 30px;
    text-transform: uppercase;
    font-weight: normal;
}

.subtitle.secondary {
    color: var(--basic-blue);
    background-color: var(--basic-beige-light);
}

.primary-button {
    display: inline-block;
    font-size: 14px;
    font-family: "Cuprum", Arial, sans-serif;
    text-transform: uppercase;
    vertical-align: middle;
    text-align: center;
    background-color: var(--basic-red);
    color: var(--basic-white);
}

.primary-button:active {
    background-color: var(--basic-burgundy);
}

.header {
    font-family: "Cuprum", Arial, sans-serif;
    background-color: var(--special-grey);
}

.header-top-navigation {
    color: var(--basic-white);
    text-align: center;
    display: inline-block;
    vertical-align: middle;
    background-color: var(--basic-blue-dark);
}

.order {
    background-color: var(--basic-green);
}

.order:active {
    background-color: var(--basic-green);
    color: var(--navigation-active-color);
}

.order:hover {
    background-color: var(--basic-light-green);
}

.bookmark:active,
.empty-basket:active {
    background-color: var(--navigation-active-bgr);
    color: var(--navigation-active-color);
}

.not-empty-basket {
    background-color: var(--basic-red);
}

.not-empty-basket:active {
    color: var(--navigation-active-color);
}

.logo {
    background-color: var(--basic-red);
    box-shadow: inset 0px -5px 0px var(--logo-shadow);
    height: 47px;
    width: 220px;
    text-align: center;
    display: block;
}

.logo:not(.not-active):active {
    background-color: var(--logo-active);
}

.search-form {
    background-color: var(--basic-blue-dark);
}

.search-form input[type="search"] {
    height: 100%;
    border: none;
    background-color: transparent;
    cursor: pointer;
    color: var(--basic-white);
}

.search-form input[type="search"]::placeholder {
    color: var(--basic-white);
}

.search-form input[type="search"]:focus {
    color: var(--basic-black);
    background-color: var(--basic-white);
    outline: none;
}

.header-phone-number {
    font-weight: bold;
    font-size: 21px;
    line-height: 30px;
    color: var(--basic-red);
}

.header-address {
    font-size: 14px;
    color: var(--basic-blue);
}

.authorization-list {
    list-style-type: none;
}

.authorization-list li,
.username {
    background-color: var(--features-bgr);
}

.authorization-list a {
    color: var(--basic-black);
    font-family: "Cuprum", Arial, sans-serif;
    font-size: 21px;
    line-height: 21px;
}

.username-features-list {
    list-style-type: none;
    font-size: 16px;
}

.username-features-list a {
    color: var(--basic-blue);
}

.authorization-list a:hover,
.username-features-list a:hover {
    color: var(--basic-red);
}

.authorization-list a:active,
.username-features-list a:active,
.username:active {
    color: var(--basic-greylight);
}

.navigation-list {
    background-color: var(--basic-blue);
    box-shadow: inset 0px -5px 0px var(--basic-blue-dark);
    display: flex;
    list-style-type: none;
}

.navigation-list li:hover {
    background-color: var(--basic-blue-dark);
}

.navigation-list li:active {
    opacity: 0.5;
}

.navigation-list a {
    color: var(--basic-white);
}

.company-offers {
    color: var(--basic-white);
    font-family: "Cuprum", Arial, sans-serif;
}

.offer-list,
.slider-list {
    list-style-type: none;
}

.offer-list a {
    color: inherit;
    font-size: 14px;
    text-transform: uppercase;
    background-color: var(--banner-bgr);
}

.offer-list a:hover {
    background-color: var(--banner-hover-bgr);
}

.offer-list a:active {
    background-color: var(--banner-active-bgr);
}

.offer-list h3 {
    font-size: 24px;
    line-height: 30px;
}

.materials,
.delivery {
    background-color: var(--basic-orange);
}

.instrument {
    background-color: var(--basic-blue-light);
}

.equipment {
    background-color: var(--equipment-bgr);
}

.sales {
    background-color: var(--sales-bgr);
}

.slider-list h3 {
    font-size: 36px;
    line-height: 36px;
    text-transform: uppercase;
}

.puncher-card {
    background-image: url(../img/purchers.jpg);
    background-repeat: no-repeat;
}

.drills-card {
    background-image: url(../img/drills.jpg);
    background-repeat: no-repeat;
}

.popular-products-list,
.partners-list,
.services-list {
    list-style-type: none;
}

.partners-list li {
    border: 1px solid var(--grey-border);
    box-sizing: border-box;
}

.partners-list li:hover,
.partners-list li:active {
    box-shadow: 0px 4px 20px var(--special-box-shadow);
}

.partners-list li:active {
    opacity: 0.5;
}

.services-text {
    font-size: 13px;
}

.services-list button {
    background-color: var(--basic-blue);
    color: var(--basic-white);
    border: none;
    box-shadow: 0px 1px 0px var(--basic-blue-dark), inset 0px 1px 0px var(--desaturated-blue);
    font-family: "Cuprum", Arial, sans-serif;
}

.services-list button:not(.active):hover {
    background-color: var(--basic-blue-dark);
}

.services-list .active {
    background-color: var(--basic-white);
    color: var(--basic-blue);
    box-shadow: none;
}

.service-types h3 {
    font-family: "Cuprum", Arial, sans-serif;
    font-size: 21px;
    font-weight: normal;
    color: var(--basic-blue);
    text-transform: uppercase;
}

.service-types section {
    background-repeat: no-repeat;
}

.service-types p {
    font-size: 13px;
}

.delivery-service {
    background-image: url(../img/delivery.png);
}

.quarantee-service {
    background-image: url(../img/guarantee.png);
}

.credit-service {
    background-image: url(../img/credit.png);
}

.about-company-text {
    font-size: 13px;
}

.transport-company-list {
    list-style-type: none;
    font-family: "Cuprum", Arial, sans-serif;
}

.transport-company-element {
    font-family: "Cuprum", Arial, sans-serif;
}

.about-button {
    width: 220px;
}

.contact-button {
    width: 300px;
}

.footer {
    font-family: "Cuprum", Arial, sans-serif;
}

.footer-logo {
    width: 220px;
    height: 68px;
    background-color: var(--basic-red);
    box-shadow: inset 0px -5px 0px var(--logo-shadow);
    display: block;
}

.footer-top {
    background-color: var(--basic-blue);
}

.footer-bottom {
    background-color: var(--basic-blue-dark);
}

.footer-contacts,
.footer-contacts a {
    color: var(--special-grey);
}

.footer-page-navigation,
.footer-catalog-navigation {
    display: flex;
    list-style-type: none;
}

.footer-page-navigation a {
    color: var(--basic-light-grey);
}

.footer-catalog-navigation a {
    color: var(--special-orangeyellow);
}

.footer-page-navigation a:hover,
.footer-catalog-navigation a:hover,
.footer-email {
    text-decoration-line: underline;
}

.footer-page-navigation a:active,
.footer-catalog-navigation a:active {
    opacity: 0.5;
 }

.footer-email:active {
    color: var(--basic-red);
}

.copyright-text,
.footer-info-text {
    font-size: 16px;
    color: var(--basic-white);
}

.footer-info-text a {
    color: var(--special-orangeyellow);
}

.footer-info-text a:hover {
    text-decoration-line: underline;
}

.footer-info-text a:active {
    color: var(--basic-red);
}

.networks-list {
    display: flex;
    list-style-type: none;
}

/* catalog */
.username {
    font-size: 21px;
    line-height: 21px;
    color: var(--basic-black);
}

.username-features {
    line-height: 18px;
    color: var(--basic-blue);
}

.breadcrumbs {
    list-style-type: none;
}

.breadcrumbs li {
    font-size: 13px;
    line-height: 18px;
    color: var(--basic-black);
    text-transform: uppercase;
}

.breadcrumbs a {
    color: inherit;
}

.catalog-title-wrapper {
    width: 940px;
    background-color: var(--special-light-blue);
}

.catalog-title {
    font-size: 13px;
    font-weight: normal;
    line-height: 18px;
    text-transform: uppercase;
}

.filter-managing {
    background-color: var(--basic-beige);
    font-weight: normal;
    text-transform: uppercase;
    font-size: 13px;
    line-height: 18px;
}

.filter-managing h2 {
    font-size: 13px;
    line-height: 18px;
    font-weight: normal;
}

.filter-managing ul {
    list-style-type: none;
}

.filter-managing a {
    color: inherit;
    opacity: 0.3;
    border-bottom: 1px dotted var(--basic-red);
}

.filter-managing a:not(.active):hover {
    border-bottom: 1px solid var(--basic-red);
    opacity: 1;
}

.filter-managing .active {
    color: var(--basic-red);
    opacity: 1;
    border-bottom: none;
}

.filter-legend {
    font-weight: bold;
    font-size: 17px;
    line-height: 30px;
    text-transform: uppercase;
}

.filter-list {
    list-style-type: none;
    font-size: 15px;
    line-height: 19px;
}

.filter-list label {
    text-transform: uppercase;
}

.filter-show-button {
    width: 220px;
    background-color: var(--basic-white);
    border: 1px solid var(--special-button-border);
    border-radius: 0;
    box-sizing: border-box;
    cursor: pointer;
    font-size: 13px;
    text-transform: uppercase;
}

.price-range {
    background-color: var(--basic-beige);
}

.price-input {
    background-color: var(--basic-beige);
    border: none;
    font-size: 17px;
    line-height: 18px;
}

.products-list {
    list-style-type: none;
}

.product-item {
    border: 1px solid var(--grey-border);
}

.product-item:hover {
    box-shadow: 0px 4px 20px var(--special-box-shadow);
}

.product-item h3 {
    font-weight: bold;
    font-size: inherit;
    line-height: 20px;
}

.old-price,
.new-price {
    font-weight: bold;
    font-size: 17px;
    line-height: 18px;
}

.old-price {
    text-decoration-line: line-through;
    text-transform: uppercase;
    color: var(--basic-dark-grey);
}

.new-price {
    color: var(--basic-white);
}

.buy-button,
.bookmark-button {
    border-radius: 2px;
    text-transform: uppercase;
    display: inline-block;
    text-align: center;
    vertical-align: middle;
    font-size: 14px;
    font-family: "Cuprum", Arial, sans-serif;
    width: 135px;
}

.buy-button {
    background-color: var(--basic-green);
    box-shadow: inset 0px -3px 0px var(--special-dark-green-border);
    color: var(--basic-white);
}

.buy-button:hover {
    background-color: var(--buy-btn-hover);
}

.buy-button:active {
    background-color: var(--buy-btn-active);
}

.bookmark-button {
    border: 3px solid var(--basic-green);
    color: var(--basic-blue);
}

.bookmark-button:hover {
    border: 3px solid var(--basic-blue);;
}

.bookmark-button:active {
    opacity: 0.5;
}

.product-new-item {
    background-color: var(--basic-red);
    color: var(--basic-white);
}

.product-new-item span {
    font-family: "Cuprum", Arial, sans-serif;
    font-size: 14px;
    line-height: 18px;
    text-transform: uppercase;
}

.paging-list {
    list-style-type: none;
}

.paging-list a {
    font-size: 13px;
    color: inherit;
    background-color: var(--basic-white);
    border: 1px solid var(--special-button-border);
    text-transform: uppercase;
    box-sizing: border-box;
    border-radius: 2px;
}

.paging-list a:not(.active):hover {
    border: 1px solid var(--basic-greylight);
}

.paging-list a:active {
    border: 1px solid var(--basic-red);
}

.paging-list .active {
    color: var(--basic-white);
    background-color: var(--basic-red);
    border: 1px solid var(--basic-red);
}

.about-product {
    background-color: var(--basic-light-grey);
}

.about-product p {
    font-size: 13px;
}
