:root {
    --basic-white: #FFFFFF;
    --basic-black: #000000;
    --basic-blue-dark: #293449;
    --basic-blue: #32425C;
    --basic-red: #EE3643;
    --basic-green: #63A63E;
    --basic-light-green: #5FBB2D;
    --basic-gray: F3F7F9;
    --basic-light-grey: #F1F5F7;

    --basic-greylight: #C5C5C5;

    --special-orangeyellow: #FFD180;
    --special-grey: #F3F7F9;
    --special-light-blue: #F2F6F8;
    --special-button-border: #E5E5E5;
    --special-old-price: #A9A9A9;
    --special-dark-green-border: #367315;
    --special-catalog-item-shadow: rgba(0, 0, 0, 0.15);

    --logo-shadow: rgba(0, 0, 0, 0.24);
    --navigation-active-bgr: #161D29;
    --navigation-active-color: rgba(255, 255, 255, 0.5);
    --buy-btn-hover: #5FBB2D;
    --buy-btn-active: #518534;
}

.visually-hidden {
    position: absolute;
    height: 1px;
    width: 1px;
    overflow: hidden;
    clip: rect(1px 1px 1px 1px);
    /* IE6, IE7 */
    clip: rect(1px, 1px, 1px, 1px);
    clip-path: polygon(0px 0px, 0px 0px, 0px 0px, 0px 0px);
  }

body {
    min-width: 960px;
    margin: 0;
    padding: 0;
    font-family: "PT Sans", Arial, sans-serif;
    background-color: var(--basic-white);
    line-height: 24px;
    font-size: 18px;
    color: var(--basic-black);
}

a {
    text-decoration: none;
}

ul {
    list-style-type: none;
}

.no-display {
    display: none;
}

.small-size {
    font-size: 16px;
}

.primary-color {
    color: var(--basic-white);
}

.secondary-color {
    color: var(--special-orangeyellow);
}

.title {
    color: var(--basic-red);
    font-style: italic;
}

.subtitle {
    font-family: Cuprum;
    font-size: 30px;
    line-height: 30px;
    text-transform: uppercase;
    font-weight: normal;
}

.button {
    display: inline-block;
    line-height: 38px;
    font-size: 14px;
    text-transform: uppercase;
    vertical-align: middle;
    text-align: center;
}

.button.primary {
    background-color: var(--basic-red);
    color: var(--basic-white);
}

.header {
    font-family: "Cuprum", Arial, sans-serif;
    background-color: var(--basic-gray);
    height: 320px;
}

.header-top {
    height: 42px;
    background-color: var(--basic-blue-dark);
    display: flex;
}

.text-navigation {
    font-family: var(--font-primary);
    color: var(--basic-white);
    text-align: center;
    display: inline-block;
    vertical-align: middle;
    line-height: 42px;
}

.text-navigation.order {
    width: 150px;
    background-color: var(--basic-light-green);

}

.text-navigation.order:active {
    background-color: var(--basic-green);
    color: var(--navigation-active-color);
}

.text-navigation.empty-basket,
.text-navigation.not-empty-basket {
    width: 136px;
}

.text-navigation.bookmark:active,
.text-navigation.empty-basket:active {
    background-color: var(--navigation-active-bgr);
    color: var(--navigation-active-color);
}

.text-navigation.not-empty-basket {
    background-color: var(--basic-red);
}

.text-navigation.not-empty-basket:active {
    color: var(--navigation-active-color);
}

.logo {
    background-color: var(--basic-red);
    box-shadow: inset 0px -5px 0px var(--logo-shadow);
    height: 47px;
    width: 220px;
    text-align: center;
}

.header-top .search-form {
    background-color: var(--basic-blue-dark);
}

.search-form input[type="search"] {
    height: 100%;
    border: none;
    background-color: transparent;
    cursor: pointer;
    color: var(--basic-white);
}

.search-form input[type="search"]::placeholder {
    color: var(--basic-white);
}

.header-phone-number {
    font-weight: bold;
    font-size: 21px;
    line-height: 30px;
    color: var(--basic-red);
}

.header-address {
    font-size: 14px;
    color: var(--basic-blue);
}

.authorization-name {
    color: var(--basic-black);
    font-size: 21px;
    line-height: 21px;
}

.authorization-name:hover,
.username-features:hover {
    color: var(--basic-red);
}

.authorization-name:active,
.username-features:active,
.username:active {
    color: var(--basic-greylight);
}

.navigation {
    width: 960px;
    height: 60px;
    background-color: var(--basic-blue);
    box-shadow: inset 0px -5px 0px var(--basic-blue-dark);
}

.navigation-list {
    display: flex;
}

.navigation-element:hover {
    background-color: var(--basic-blue-dark);
}

.navigation-element:active {
    opacity: 0.5;
}

.about-company-text {
    font-size: 13px;
}

.transport-company-element {
    font-family: Cuprum;
}

.about-link {
    width: 220px;
}

.contact-link {
    width: 300px;
}

.footer {
    font-family: Cuprum;
}

.footer-logo {
    width: 220px;
    height: 68px;
    background-color: var(--basic-red);
    box-shadow: inset 0px -5px 0px var(--logo-shadow);
    display: block;
}

.footer-top {
    background-color: var(--basic-blue);
}

.footer-bottom {
    background-color: var(--basic-blue-dark);
}

.footer-navigation {
    display: flex;
}

.page-nav-text {
    color: var(--basic-light-grey);
}

.footer-contacts {
    color: var(--special-grey);
}

.page-nav-text:hover,
.catalog-nav-text:hover,
.footer-email {
    text-decoration-line: underline;
}

.page-nav-text:active,
.catalog-nav-text:active {
    mix-blend-mode: normal;
    opacity: 0.5;
 }

.networks-list {
    display: flex;
}

.footer-email:active {
    color: var(--basic-red);
}

/* catalog */
.username {
    font-size: 21px;
    line-height: 21px;
    color: var(--basic-black);
}

.username-features {
    line-height: 18px;
    color: var(--basic-blue);
}

.catalog-path {
    font-size: 13px;
    line-height: 18px;
    color: var(--basic-black);
    text-transform: uppercase;
}

.catalog-title-wrapper {
    height: 89px;
    width: 940px;
    background-color: var(--special-light-blue);
}

.catalog-title {
    font-size: 30px;
    line-height: 30px;
    text-transform: uppercase;
}

.filter-legend {
    font-weight: bold;
    font-size: 17px;
    line-height: 30px;
    text-transform: uppercase;
}

.filter-name {
    font-size: 15px;
    line-height: 19px;
    text-transform: uppercase;
}

.show-button {
    width: 220px;
    height: 38px;
    background-color: var(--basic-white);
    border: 1px solid var(--special-button-border);
    border-radius: 0;
    box-sizing: border-box;
    cursor: pointer;
    font-size: 13px;
    text-transform: uppercase;
}

.catalog-item .catalog-item-navigation,
.catalog-item:hover img {
    display: none;
}

.catalog-item:hover .catalog-item-navigation {
    display: block;
}

.catalog-item:hover {
    box-shadow: 0px 4px 20px var(--special-catalog-item-shadow);
}

.catalog-item-title {
    font-weight: bold;
    line-height: 20px;
}

.catalog-item-price {
    font-weight: bold;
    font-size: 17px;
    line-height: 18px;
}

.old-price {
    text-decoration-line: line-through;
    text-transform: uppercase;
    color: var(--special-old-price);
}

.catalog-item-button {
    border-radius: 2px;
    text-transform: uppercase;
    display: inline-block;
    text-align: center;
    vertical-align: middle;
    font-size: 14px;
    width: 135px;
}

.buy-button {
    background-color: var(--basic-green);
    box-shadow: inset 0px -3px 0px var(--special-dark-green-border);
    color: var(--basic-white);
    line-height: 38px;
}

.buy-button:hover {
    background-color: var(--buy-btn-hover);
}

.buy-button:active {
    background-color: var(--buy-btn-active);
}

.bookmark-button {
    border: 3px solid var(--basic-green);
    color: var(--basic-blue);
    line-height: 32px;
}

.bookmark-button:hover {
    border: 3px solid var(--basic-blue);;
}

.bookmark-button:active {
    opacity: 0.5;
}
